<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/style.css">
    <title>Weather News</title>
</head>
<body>    
    <video autoplay muted loop id="background-video" >
        <source src="/public/images/clouds.mp4" type="video/mp4" >
    </video>
    <div class="video-container">    
        <% if (locals.city){ %>
            <div class="weather-block">
                <h2>Today</h2>
                <h3 class="title-block">Weather Report</h3>
                <p><%= city %></p>
                <p id="out_icon_day"></p>
                <p><%= temperature %> &deg; F</p>
            </div>
                <section class=”weather”>
                    <div class=”container”>
                    <div id=”forecast”>
                        <div>
                            <table class="weather-forecast-week" >
                                <tr>
                                    <% day.forEach(day => { %>
                                    <th><%= day %></th>
                                    <% }); %>
                                </tr>
                                <tr>
                                    <% temperatureWeekForecast.forEach(temperatureWeekForecast => { %>
                                    <td><%= temperatureWeekForecast %> &deg; F</td>
                                    <% }); %>
                                </tr>
                                <tr>
                                    <% weekIcon.forEach(WeatherIcon => { %>
                                    <td><img src="https://openweathermap.org/img/wn/<%= WeatherIcon %>@2x.png" alt="Weather icon"></td>
                                    <% }); %>
                                </tr>        
                            </table>
                        </div>
                    </div>
                </section>
                <div class="return-button-section">
                    <button class="return-button" type="button">
                        <a href="/">Back home</a>
                    </button>
                </div>
        </div>         
        <script>
            let stringDataStr = '<%- JSON.stringify(icon) %>';
            let iconCode = stringDataStr.replace(/['"]+/g, '');
            out_icon_day.innerHTML="<img src=http://openweathermap.org/img/wn/"+iconCode+"@2x.png>";
            
            let stringIconConversionWeek = '<%- JSON.stringify(weekIcon) %>';
            let convertedIconCode = stringIconConversionWeek.replace(/['"]+/g, '');
        </script>
    
    <% } else { %>
    <video autoplay muted loop id="background-video" >
        <source src="/public/images/forest sunshine.mp4" type="video/mp4" >
    </video>
        <div class="intro-container">
            <h1 style="color: white; background-color: green;">Enter your zipcode to get weather</h1>
            <div class="entry-form">
                <form action="/submit" method="post">
                    <input type="text" id="zipcode-box" name="zipcode" placeholder="Enter zipcode" class="input-form"><br>
                    <button type="submit" class="form-submit">Submit</button><br>
                </form>
            </div>
        </div>
     <% } %>
</body>
</html>